[submodule "_external/bgfx.cmake"]
	path = _external/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "src/math"]
	path = src/math
	url = https://github.com/phil-stein/math
[submodule "src/global"]
	path = src/global
	url = https://github.com/phil-stein/global
